@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@media screen and (max-width: 1070px) {
  * {
    overflow-x: hidden;
  }
  .works-container {
    width: 100vw;
    height: auto;
    background-color: #232B2B;
  }
  .works-container__horizontal-block {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .works-container__horizontal-block__title {
    width: 100%;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F6F6F6;
    font-size: 1.5em;
    font-weight: 400;
    text-transform: uppercase;
  }
  .works-container__horizontal-block__last-work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .works-container__horizontal-block__last-work__content {
    margin: 0 0 2em 0;
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .home-container {
    padding: 0;
  }
  .home-container__hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .home-container__hero-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 4px solid #232B2B;
  }
  .home-container__hero-title > h1 {
    font-size: 4em;
    text-transform: uppercase;
    font-weight: 600;
  }
  .home-container__description-presentation__grid {
    display: none !important;
  }
  .home-container__description-presentation__content {
    width: auto !important;
  }
  .home-container__description-presentation__content > p {
    font-size: 14px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #232B2B;
  background-color: #F6F6F6;
  overflow-x: hidden;
}

.container {
  width: 100vw;
}

i {
  color: #232B2B;
}

.home-container {
  padding: 0 1.5em;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
}
@media screen and (min-width: 800px) {
  .home-container__hero {
    width: 100%;
  }
  .home-container__hero-title {
    height: 9em;
    display: flex;
    align-items: center;
    border-bottom: 4px solid #232B2B;
    overflow: hidden;
  }
  .home-container__hero-title > h1 {
    font-size: 10em;
    text-transform: uppercase;
    font-weight: 600;
  }
  .home-container__hero .right {
    display: flex;
    justify-content: flex-end;
  }
}
.home-container__description {
  width: 100%;
}
.home-container__description-skils {
  width: 100%;
}
.home-container__description-skils .show-border {
  padding: 1em 0;
  border-bottom: 2px solid #EAEAEA;
}
.home-container__description-skils__list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
.home-container__description-skils__list-elements {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}
.home-container__description-presentation {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 1070px) {
  .home-container__description-presentation {
    padding: 1em 2em;
  }
}
.home-container__description-presentation__grid {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-container__description-presentation__grid .grid-container {
  width: 80%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}
.home-container__description-presentation__grid .grid-container__block1 {
  grid-area: 1/1/3/2;
  background-color: #29443A;
}
.home-container__description-presentation__grid .grid-container__block2 {
  grid-area: 1/2/2/3;
  background-color: #F7A61C;
}
.home-container__description-presentation__grid .grid-container__block3 {
  grid-area: 2/2/4/3;
  background-color: #232B2B;
}
.home-container__description-presentation__grid .grid-container__block4 {
  grid-area: 3/1/4/2;
  background-color: #232B2B;
}
.home-container__description-presentation__grid .grid-container__block5 {
  grid-area: 4/1/5/2;
  background-color: #2B5840;
}
.home-container__description-presentation__grid .grid-container__block6 {
  grid-area: 4/2/5/3;
  background-color: #29443A;
}
.home-container__description-presentation__content {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-container__description-presentation__content > h3 {
  margin-bottom: 1em;
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
}
.home-container__description-presentation__content > p {
  font-size: 16px;
  font-weight: 400;
}

@media screen and (min-width: 1070px) {
  .works-container {
    height: 500vh;
    background-color: #232B2B;
  }
  .works-container__horizontal-block {
    height: 100vh;
    position: sticky;
    top: 0;
    display: flex;
    overflow: hidden;
  }
  .works-container__horizontal-block__title {
    width: 20vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .works-container__horizontal-block__title > h2 {
    font-size: 3em;
    color: #F6F6F6;
    text-transform: uppercase;
    transform: rotate(-90deg);
    white-space: nowrap;
  }
  .works-container__horizontal-block__last-work {
    padding: 0 3vw;
    width: 500vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    will-change: transform;
  }
}
.contact-container {
  width: 100%;
  height: 100vh;
  display: flex;
}
.contact-container__content {
  padding-left: 5em;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.contact-container__content__email {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-container__content__email > h2 {
  margin-bottom: 15px;
  font-size: 3em;
  text-transform: uppercase;
}
.contact-container__content__email .email {
  color: #F7A61C;
  font-size: 1.3em;
}
.contact-container__content__links {
  width: 100%;
  height: 20vh;
}
.contact-container__content__links__list {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.contact-container__content__links__list-items {
  margin-right: 4em;
  list-style-type: none;
  text-transform: uppercase;
  animation: 3s ease-in;
}
.contact-container__content__links__list-items > a:hover {
  color: #F7A61C;
  transition: 0.3s ease-out;
}
.contact-container__content a {
  text-decoration: none;
  color: #232B2B;
}
.contact-container__hero {
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.contact-container__hero__reveal {
  max-width: 500px;
  height: 80%;
  position: relative;
  overflow: hidden;
}
.contact-container__hero__reveal-image {
  height: 100%;
  width: 100%;
  z-index: 1;
  object-fit: cover;
  transform-origin: left;
}
@media screen and (max-width: 800px) {
  .contact-container__content {
    padding: 0;
    width: 100%;
  }
  .contact-container__content__email {
    padding-left: 1em;
  }
  .contact-container__content__email > h2 {
    font-size: 2.5em;
  }
  .contact-container__content__links__list {
    justify-content: space-evenly;
  }
  .contact-container__content__links__list-items {
    margin: 0;
  }
  .contact-container__hero {
    display: none;
  }
}

.works-container__horizontal-block__last-work__content {
  width: 60vw;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media screen and (min-width: 1070px) {
  .works-container__horizontal-block__last-work__content {
    margin-right: 5em;
  }
}
.works-container__horizontal-block__last-work__content h3, .works-container__horizontal-block__last-work__content img {
  margin-bottom: 1em;
}
.works-container__horizontal-block__last-work__content h3 {
  color: #F6F6F6;
  font-size: 1.5em;
  font-weight: 400;
  text-transform: uppercase;
}
@media screen and (min-width: 1070px) {
  .works-container__horizontal-block__last-work__content img {
    width: auto;
  }
}
.works-container__horizontal-block__last-work__content p {
  color: #F6F6F6;
  font-weight: 200;
  font-size: 16px;
  white-space: normal;
}

/*# sourceMappingURL=style.css.map */
